
/* Global Declaratiom */
.logo-size{
    width: 40px;
    height: 40px;
    margin-left: -30px;
}
.primary-heading{
    font-family:@base-font-family;
    font-size: 32px;
    color: @base-color;
    }
.primary-paragraph{
    font-family: @most-font-family;
    font-size: 18px;
    color: @base-color;
}
.primary-bold-paragraph{
    font-family: @most-font-family-bold;
    font-size: 18px;
    color: @base-color;
}
@media(max-width:515px){
    .primary-heading{
        font-size: 25px;
    }
    .primary-paragraph{
        font-size: 14px;
    }
}
.primary-btn{
    border: solid;
    border-color:@base-color;
    border-radius: 8px;
    margin-left: 25px;
    padding: 15px 20px;
    border: solid;
}
.sizeof-content-one{
    font-size: 100px;
}



/*------------Header----------*/
header{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
// max width of the navbar

  .max-width{
    max-width: 100%;
    padding: 0 40px;
    margin: auto;
}


.tonavbar{
    width: 100%;
    padding: 35px 0;
    font-family: @most-font-family;
    margin-top: 0;
    transition: all 0.4s ease;
    .max-width{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    //menu-button of mobile view
    .menu-btn{
        font-size: 23px;
        cursor: pointer;
        position: absolute;
        display: none;
        .fa{
            color: black;
        }
    }
    .logo{
        img{
            height: 60px;
            margin-top: -10px;
        }
        a{ 
            text-decoration: none;
            color:@base-color;
            font-size: 30px;
            font-family: @base-font-family;
            transition: 0.8s;
            margin-bottom: -10px;
        }
        a:hover{
            color:@base-hover-color;
        }
    }
    .menu{
            .contactbtn{
                margin-left: 0;
                margin: 20px 15px;
            }
        li{
            list-style: none;
            display: inline-block;
        a{
            color:@base-color;
            font-size: 12px;
            margin-left: 20px;
            text-decoration: none;
            transition: color 0.6s ease;
        
            &:hover{
                color: @base-hover-color;
                
            }
        }
        
    }
    .logo{
    display: none;
    }
}

}

//header view at 902px

@media(max-width:902px){
    .max-width{
        padding: 0 15px;
    }
    .tonavbar{
    .menu{
        li{
            a{
                font-size: 10px;
            }
        }
    }
    .logo-mobile-view{
        a{
            font-size: 14px;
        }
    }
}
}
//header at mobile view of 700px

@media(max-width:700px){
    
  .tonavbar {
    .menu-btn{
        display: block;
        z-index: 999;
        
        i.active:before{
            content: "\f00d";
        }
    }
    .logo {
        margin: auto; 
        a{
            font-size: 18px;
        }
      }
      //mobile view dropdown menu
      .menu.active{
        left: 0;
      }
      .menu{
      position: absolute;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background:#fff;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
  li{
      display: block;
   a{
      display: inline-block;
      margin: 17px 0;
      font-size: 15px;
  }
}
  .logo{
     display: block;
     padding-bottom: 20px;
  a{
      font-size: 18px;
  }
    }
  .primary-btn{
      border: none;
  }
}
  }
  .sizeof-content-one{
    font-size: 50px;
}
}



/*--------Footer----------*/

.footer{
    background-color: @base-color;
    color: #fff;
    a{
        font-family: 'Muli-Regular';
        font-size: 12px;
        padding-bottom: 5px;
        transition: all 0.5s ease;
        &:hover{
            color: @base-hover-color;
        }
    }
    .penguin{
       font-family: @base-font-family;
       font-size: 15px;
   }
   .copyright{
    font-family:'Muli-Regular';
    font-size: 10px;
   }
   .social-logo{
    display: none;
}
}
//footer at 990px

@media(max-width:990px){
    .footer-column{
    padding-top: 20px;
    }
}
//footer at 768px

@media(max-width:768px){
.footer{    
    .sub-col{
        margin-right: 7px;
    }
    .copyright{
        padding-bottom: 10px;
    }
}
}
//footer at 620px

@media(max-width:620px){
    .footer-column{
        &-two{
            display: none;
        }
        padding: 20px;
        a{
            display: none;
        }
        .penguin{
            font-family:'Muli-Regular';
            font-size: 12px;
            padding: 10px, 0;
            display: block;
            span{
                font-family: @base-font-family;
                font-size: 14px;
            }
            
        }
        &-one{
            display: inline-block;
        }
    }
    .social-logo{
        display: block;
    }
    //to decrease the size of company_summary heading
    .sizeof-content-one{
        text-align: center;
        font-size: 50px;
    }
}
//to decrease the size of company_summary heading
@media(max-width:1200px){
    
    .sizeof-content-one{
        font-size: 70px;
    }
}

//content-2 s_content_principles
.our-vission-one{
    background-color: #e6eaf0;
    left: 120px;
    z-index: 3;
}
.our-vission-three{
    left: 300px;
    bottom: 120px;
    background-image: url(/theme_penguin_apparels/static/src/images/Qultin-Machine-Tablet-View.jpg);
}
@media(max-width:992px){
    .our-vission-one{
        text-align: center;
        font{
            text-align: center;
        }
        left: 0;
        max-width: 80%;
        max-height: 80%;
        margin: auto;
        top: 405px;
    }
    .our-vission-two{
        height: 400px;
        width: 100%;
    }
    .our-vission-three{
        margin-top: 30px;
        text-align: center;
        left: 0;
        bottom: 0;
    }
}
//for conten-4 quality list
.content_quality_list{
    font-size: 25px ;
    .two_in_row{
    padding: 10px 10px;
    list-style: none;
}
}
@media(min-width:992px){
.two_in_row{
    li{
        display: inline-block;
    }
}
}
@media(max-width:992px){
    .two_in_row{
        text-align: center;
        display: inline-block;
    }
    .content_quality_list{
        font-size: 12px;
    }
}
//for content-5 quality lists
.image-container{
    margin-bottom: -15px;
    background-color: @base-color;
    position: relative;
    text-align: center;
    color: white;
    .texton-image{
        opacity: 0.5;
    }
    .image_text{
        position: absolute;
        bottom: 8px;
        left: 16px;
    }
}
.process-content-mobile{
    display: none;
}

@media(max-width:992px){
    .process-content-web{
        display: none;
    }
    .process-content-mobile{
        display: block;
        margin-bottom: 30px;
        .primary-btn{
            bottom: 10px;
        }
    }

// making buttons centered w
.centered-content{
    text-align:center;
}
}